<header>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn'%>
</header>

<div class="content">
  <h2>投稿一覧</h2>
   <%= link_to "新規投稿", new_post_path %> 
  <% @posts.each do |post| %>
  
  <%= post.purpose%>
  <%end%>
</div>